* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}

main .introduction {
    background: url('images/emergent-tool.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 15%;
    min-height: 15em;	/*Makes image start at 15em */
    max-height: 30em; /*Makes image stop at 30em */
    display: flex;
    justify-content: center; /*Centering .introduction-content */
    align-items: center;
}


main .introduction .introduction-content {
    padding: 15% 0; /* Makes the image scale */
    color: white;
    display: flex;
    align-items: center;
}

main .introduction .introduction-content #play-button{
    display: block;
    width: 3em;
    height: 3em;
    background: transparent;
    border: none;
    margin: 0 auto;
}

main .introduction .introduction-content #play-button img {
    max-width: 100%;
}

main .introduction  .introduction-content h6 {
    display: block;
    margin:0 auto;
		font-size: 1em;
}
