* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    font-family: 'Balsamiq Sans', sans-serif;
    transition: top 0.3s;
    z-index: 3;
}

header ul {
    max-width: 800px;   
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header ul .selected a{
    color: red;
    font-weight: bold;
}

header ul .not-selected a {
    color: white;
}

header ul li {
    padding: 1em;
    font-size: 1.5em;   
}

header ul li a {
    text-decoration: none;
}

main .home-introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('../img/top-background.jpg');
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

main .home-introduction .home-introduction-content {
    color: white;
    font-family: 'Jost', sans-serif;
}

main .home-introduction .home-introduction-content h2 {
    font-size: 7.5em;
}

main .home-introduction .home-introduction-content .name-about {
    font-size: 2em;
    display: flex;
}

main .home-introduction .home-introduction-content .name-about img {
    margin-right: 0.4em;
}

main .home-introduction .home-introduction-content .name-about p {
}

main .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

main .home-content h1 {
    font-size: 3em;
    font-family: 'Balsamiq Sans', sans-serif;
}

main .videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1244.44px;
    height: 700px;
}

main .videoContainer iframe {
    width: 100%;
    height: 100%;
}

footer {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: white;
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: 2.5em;
    padding: 1em;
}

footer .date {
    padding-right: 1em;
}
