* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-family: 'Balsamiq Sans', sans-serif;
  transition: top 0.3s;
  z-index: 3;
}

header ul {
  max-width: 800px;   
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header ul .selected a{
  color: red;
  font-weight: bold;
}

header ul .not-selected a {
  color: white;
}

header ul li {
  padding: 1em;
  font-size: 1.5em;   
}

header ul li a {
  text-decoration: none;
}

main {
    background: url('../img/greece.jpg');
    background-repeat: none;
    background-size: cover;
    margin:0 auto;
    height: 100vh; /* FOR NOW */
}

main .section-content {
  width: 100%;
  max-width: 1200px;
  background-color: rgb(0,0,0,0.8);
  height: 100vh; /*FOR NOW */
  margin:0 auto;
  padding: 2em;
}

main .section-content .stats-title {
  color:white;
  font-size: 5em;
  font-family: 'Jost', sans-serif;
}


.meter { 
	height: 40px;  /* Can be anything */
	position: relative;
	background: #222;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    background-image: linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
    );
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
  }

  .orange > span {
    background-color: #f1a165;
    background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
  }