main {
  height: 70vh;
  width: 100vw;
}

main .gallery{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  background-color: #f0ebd2;
}

::-webkit-scrollbar {
  appearance: none;
  width: 7px;
  height: 2em;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #00471b;
  -webkit-box-shadow: 0 0 5px rgba(0, 255, 255, 1);
}

main .gallery .image{
  display: inline-block;
  margin: 1em;
  height: 70%;
}

main .gallery .image img {
  height: 100%;
}