* {
    margin:0;
    padding:0;
}

header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 100em;
    margin: 0 auto;
    position: relative;
}

header .logo-full #logo-container {
    display: inline-block;
    width: 3.05em; /* 60px / 20.8px */
    max-width: 26.875em; /*430px / 16px */;
}

header .logo-full #logo-container > img {
    max-width: 100%;
}

header .logo-full {
    width: 30%;
    max-width: 330px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    float: left;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 550;
}

header .logo-full > a {
    color: black;
    text-decoration: none;
}

header .header-nav {
    text-align: center;
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4em;
    letter-spacing: 1px;
    padding: 1em;
}

header .header-nav #large-nav {
    display: none;
    list-style: none;
}

header .header-nav #large-nav li {
    margin: 0.5em 0.7em;
}

header .header-nav #large-nav li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.6em;
    font-weight: bold;
}

header .header-nav #reduced-nav {
    color: black;
}

main .introduction {
    position: relative;
    width: 100%;
    min-height: 15em;
    height: 15%;
    max-height: 30em;
    background: url('images/emergent-tool.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .introduction .introduction-content {
    padding: 15% 0;
    color: white;
    display: flex;
    align-items: center;
}

main .introduction .introduction-content button{
    display: block;
    width: 3em;
    height: 3em;
    background: transparent;
    border: none;
    margin: 0 auto;
}

main .introduction .introduction-content h6 {
    display: block;
    margin:0 auto;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

main .introduction .introduction-content #play-button img {
    max-width: 100%;
}

main .page {
    max-width: 1500px;
    margin: 0 auto;
}

main .page .page-smaller-width {
    width: 80%;
    padding: 2em;
    max-width: 850px;
}

main .page .page-smaller-width #caption {
    color: gray;
    font-size: 0.8em;
}

main .page .page-smaller-width #page-title {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 2.6em;
}

main .page .page-smaller-width  > p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7em;
}

main .page .page-smaller-width .page-buttons {
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap;
}

main .page .page-smaller-width .page-buttons button {
    padding: 0.5em 1.2em;
    margin: 0 1em 1em 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 2px;
    background-color: #ebebeb;
    border-radius: 5px;
    border: none;
}

main .page .page-smaller-width .page-buttons button:hover {
    background-color: #d9d9d9;
    cursor: pointer;
}

main .agent-illustrations {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    margin-top: 2em;
}

main .agent-illustrations .illustration {
    width: 48%;
    margin-right: 2%;
    margin-bottom: 1em;
    color: #9e9e9e;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 0.9em;
}

main .agent-illustrations .illustration #illustration-caption #boldd {
    font-weight: bold;
    color: black;
}

main .agent-illustrations .illustration :last-child {
    margin:0;
}

main .agent-illustrations .illustration img {
    max-width: 100%;
}


footer {
    width: 90%;
    max-width: 100em; /*1500px/16px*/ 
    margin: 0 auto;
}

footer nav .website-links {
    width: 85%;
    max-width: 480px;
}

footer nav li {
    list-style: none;
    padding: 0.3em 0;
    
}

footer nav a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #8a8a8a;
}

footer nav .social-media-links {
    padding-bottom: 2em;
}

footer nav .social-media-links li {
    padding: 0.3em;
}

footer nav .social-media-links ul{
    display: flex;
    font-size: 1.5em;
}

@media screen and (min-width: 480px) {
    footer nav > ul {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 720px) {  
    header .logo-full #logo-container {
        width: 2.98076923077em; /* 62px / 20.8px */
    }
    header .logo-full {
        font-size: 1.3em;
    }

    header .header-nav #reduced-nav {
        display: none;        
    }

    header .header-nav #large-nav {
        display: flex;
    }

    main .page .page-smaller-width {
        width: 80%;
        padding: 2em;
        margin:0 auto;
    }

    main .page .page-smaller-width #page-title {
        font-size: 3.2em;
    }

    main .page .page-smaller-width > p {
        font-size: 1.3em;
    }

    main .agent-illustrations .illustration {
        margin-right: 1%;
        width: 30%;
    }


    footer nav .website-links {
        float: left;
    }
    
    footer nav .social-media-links {
        float: right;
    }
}

@media screen and (min-width: 960px) {
    header .logo-full #logo-container {
        width: 3.07692em; /* 64px / 20.8px */
    }

    header .logo-full {
        font-size: 1.4em;
    }
    
    header .header-nav #large-nav li {
        margin: 0.6em 0.8em;
    }

    header .header-nav #large-nav li a {
        letter-spacing: 2px;
    }

    main .introduction .introduction-content h6 {
        font-size: 1.3em;
    } 

    main .agent-illustrations .illustration {
        margin-right: 1%;
        width: 19%;
    }

    footer nav .website-links {
        float: right;
    }

    footer nav .website-links li a {
        font-size: 1em;
    }
    
    footer nav .social-media-links {
        float: left;
        padding-bottom: 3em;
    }
}

@media screen and (min-width: 1200px) {
    main .agent-illustrations .illustration {
        font-size: 1em;
    }

    footer nav .website-links {
        float: right;
    }

    footer nav .website-links li a {
        font-size: 1.1em;
    }
    
    footer nav .social-media-links {
        float: left;
        padding-bottom: 3.3em;
    }
}